@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Text Shadows */
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  /* Neon Text Shadows */
  .text-neon-blue {
    color: hsl(187.7 97.6% 48.4%);
    /* color: hsl(192 100% 95%); */
    /* text-shadow:
      0 0 8px hsl(194 100% 40%),
      0 0 2.5vmin hsl(194 100% 40%),
      0 0 5vmin hsl(194 100% 40%),
      0 0 10vmin hsl(194 100% 40%),
      0 0 15vmin hsl(194 100% 40%)     */
  }

  /* Special FX */

  .oval-shadow {
    border-radius: 50%;
  }

  /* Overlays */
  .gradient-transparency {
    background-image: linear-gradient(180deg, rgba(0,0,0,.7) 10%, transparent);
  }

  .gradient-overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(23, 24, 26, 0) 0%,
      rgba(16, 16, 18, 1) 100%
    );
  }

}


